---
import Layout from "../layouts/Layout.astro";
import { Button } from "../components";
import { faArrowLeft } from "@fortawesome/free-solid-svg-icons";
---

<Layout title="Blog">
  <div class="container mx-auto px-20 pt-10">
    <div class="grid place-items-center">
      <span class="text-4xl mb-10"> Under Construction.</span>
      <Button url="/" target="_self" icon={faArrowLeft}>Go back</Button>
    </div>
  </div>
</Layout>
