---
interface Props {
	class?: string;
}

// const { href, title, body } = Astro.props;
const { class: className } = Astro.props;
---

<div class:list={["Card", className]}>
	<slot />
</div>

<style>
	.Card {
		@apply border-none p-5 rounded-lg;
	}
</style>
