---
import "@fontsource-variable/outfit";
import "@fortawesome/fontawesome-free/css/all.min.css";
import { SEO } from "astro-seo";

interface Props {
	title: string;
	description?: string;
	image?: string;
}

const { title, description, image } = Astro.props;
const titlePage = `Alvarosdev - ${title}`;
const imagePage = image ?? "https://alvaros.dev/bg.jpg";
---

<!doctype html>
<html lang="en">
	<head>
		<SEO
			charset="UTF-8"
			title={titlePage}
			description={description ?? "Software Developer"}
			openGraph={{
				basic: {
					title: titlePage,
					type: "website",
					image: imagePage,
				},
			}}
			extend={{
				link: [{ rel: "icon", href: "/favicon.png" }],
				meta: [
					{
						name: "og:description",
						content: description ?? "Software Developer",
					},
					{
						name: "og:title",
						content: titlePage,
					},
					{
						name: "og:image",
						content: imagePage,
					},
					{
						name: "og:type",
						content: "website",
					},
					{
						name: "viewport",
						content: "width=device-width, initial-scale=1",
					},
					{
						name: "theme-color",
						content: "#000",
					},
					{
						name: "robots",
						content: "index, follow",
					},
				],
			}}
		/>
	</head>
	<body>
		<div
			class="fixed top-0 z-[-2] h-screen w-screen gradient_bg"
			transition:persist
		>
		</div>
		<slot />
		<style is:global>
			body {
				font-family: "Outfit Variable", sans-serif;
				@apply text-white;
			}
		</style>
		<style>
			.gradient_bg {
				background: linear-gradient(47deg, #000000, #003a69);
				background-size: 400% 400%;

				-webkit-animation: AnimationName 29s ease infinite;
				-moz-animation: AnimationName 29s ease infinite;
				-o-animation: AnimationName 29s ease infinite;
				animation: AnimationName 29s ease infinite;
			}

			@-webkit-keyframes AnimationName {
				0% {
					background-position: 0% 97%;
				}
				50% {
					background-position: 100% 4%;
				}
				100% {
					background-position: 0% 97%;
				}
			}
			@-moz-keyframes AnimationName {
				0% {
					background-position: 0% 97%;
				}
				50% {
					background-position: 100% 4%;
				}
				100% {
					background-position: 0% 97%;
				}
			}
			@-o-keyframes AnimationName {
				0% {
					background-position: 0% 97%;
				}
				50% {
					background-position: 100% 4%;
				}
				100% {
					background-position: 0% 97%;
				}
			}
			@keyframes AnimationName {
				0% {
					background-position: 0% 97%;
				}
				50% {
					background-position: 100% 4%;
				}
				100% {
					background-position: 0% 97%;
				}
			}
		</style>
	</body>
</html>
